<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
</head>
<body>
    <style>
        body {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center
        }
        input {
            width: 100%;
            padding: .5rem;
            margin: .1rem
        }
    </style>

    <h1>Welcome to Facebook</h1>
    <form id="user-form" action="{{ url_for('add_user') }}" method="POST">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="age" placeholder="Enter your age">
        <input type="text" name="grade" placeholder="Enter the grade you are in">
        <input type="text" name="institute" placeholder="Enter your organisation/institute name">
        <input type="text" name="designation" placeholder="Enter your designation">
        <button type="submit">Add User</button>
    </div>
</body>
</html>